code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightblue;
  padding: 9px; 
}
nav input{
  width: 250px;
  text-decoration: none;
  

}